@media (min-width: 641px) {
  .local-media-profiles-table-wrapper {
    overflow-x: hidden;
  }

  .local-media-profiles-table {
    width: 100%;
    table-layout: auto;
  }

  .local-media-profile-name,
  .local-media-profile-output-template {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .local-media-profiles-table th:last-child,
  .local-media-profiles-table td:last-child {
    min-width: 100px;
    white-space: nowrap;
  }

  .local-media-profiles-table td:last-child > div {
    flex-wrap: nowrap !important;
  }
}
